.display-5 {
	color: #171730;
	text-shadow: 7px 7px 11px rgba(23,23,48,0.73);
	font-size: 50px;
	font-weight: 600;
	margin: 60px 0;
	position: relative;
}

.display-5::after {
	content: "";
	position: absolute;
	width: 28%;
	height: 5px;
	bottom:-20px;
	transform: translateX(-90%);
	background: #171730;
}
.display-5::before {
	content: "";
	position: absolute;
	width: 10%;
	height: 10px;
	bottom:-22px;
	transform: translateX(52%);
	background: #171730;
}